@font-face{
  font-family: 'starwars_1';
  src: url('../fonts/starwars_4.ttf');
}

.App {
  text-align: center;
  font-family: 'starwars_1';
}

body, html {
  height: 100%;
}

body{
  background-image: url('../images/bg.jpeg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin: 0;
}

header {
  text-align: center;
  padding: 30px;
  margin-bottom: 10px;
}

header img {
  height: 150px;
  -webkit-animation: logointro .7s ease-in-out; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: logointro .7s ease-in-out; /* Firefox < 16 */
      -ms-animation: logointro .7s ease-in-out; /* Internet Explorer */
       -o-animation: logointro .7s ease-in-out; /* Opera < 12.1 */
          animation: logointro .7s ease-in-out;
}

@keyframes logointro {
  from  { transform: scale(0);    }
  to    { transform: scale(100%); }
}

@keyframes logointro {
  from  { transform: scale(0);    }
  to    { transform: scale(100%); }
}

/* Firefox < 16 */
@-moz-keyframes logointro {
  from  { transform: scale(0);    }
  to    { transform: scale(100%); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes logointro {
  from  { transform: scale(0);    }
  to    { transform: scale(100%); }
}

/* Internet Explorer */
@-ms-keyframes logointro {
  from  { transform: scale(0);    }
  to    { transform: scale(100%); }
}

/* Opera < 12.1 */
@-o-keyframes logointro {
  from  { transform: scale(0);    }
  to    { transform: scale(100%); }
}





/* 
##############
##### NAV ####
##############
*/

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-size: 1.5em;
}

nav li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: yellow;
}





/* 
####################
##### STARSHIPS ####
##### OVERVIEW #####
####################
*/

.App div:nth-child(2){
  padding-top: 1px; /*work around glitch nav height */
  text-align: left;
  margin-left: 350px;
  margin-right: 350px;
}

.App div:nth-child(2) h1{
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
}
.container{
  margin-top: 125px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li a{
  text-decoration: none;
  color: white;
}

#shiplist li,   /*shipOverview.js */
#shiplist div,  /*shipDetail.js */
.add-ship div { /*shipAdd.js */
  transition: all .4s ease-out; /*duration to show next element in addClass() */
  opacity: 0;
  height: 2em;
}
#shiplist li.show,    /*shipOverview.js */
#shiplist div.show,   /*shipDetail.js */
.add-ship div.show {  /*shipAdd.js */
  opacity: 1;
}







/* 
####################
##### STARSHIPS ####
###### DETAILS #####
####################
*/

.starshipsCategories {
  float: left;
  margin-right: 100px;
}

form div input, form div select {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 25em;
  background: transparent;
  color: white;
  font-family: 'starwars_1';
  padding: 0.7em;
  border: none;
  transition: 0.2s;
}
form div input:focus, form div select:focus {
  border-style: none;
  border: none;
  outline: none;
}

form div input:hover, form div select:hover, form div:hover {
  color: yellow;  
}

form div:last-child:hover{ /* delete btn */
  color: white;
}

.options{
  background-color: #000;
}

form div{
  margin: 2em 0;
}

.App form div:nth-child(2){
  padding-top: 0px;
  margin-left: 0px;
}

/* save & delete btns */
.controls{
  margin: 50px auto 0;
  height: 100px;
  width: 300px;
}

.controls .btn{
  font-family: 'starwars_1';
  border: 2px solid white;
  transition: 0.2s;
}

.controls button{
  background: none;
  width: 130px;
  height: 50px;
  color: white;
  float: left;
}

.controls .delete{
  padding: 10px 30px;
  float: right;
}

.controls .save:hover {
  border-color: yellow;
  color: yellow;
}

.controls .delete:hover{
  border-color: red;
  color: red;
}





/* 
####################
##### STARSHIPS ####
######## ADD #######
####################
*/

.controls .create:hover {
  border-color: green;
  color: green;
}

.add-ship .controls {
  width: 130px;
}

.add-ship input{
  border: 1px solid yellow;
  transition: 1s;
}

.add-ship input:focus{
  border: 1px solid;
}

.add-ship input:valid{
  border-color: green;
}